ion-content
  .list.card
    .item(style="text-align: center")
      h1 Level 1

    .item.item-body
      .row
        .col(ng-repeat='talent in vm.talents | filter: { level: 1 }')
          pif-talent(
            talent="talent"
            is-active="talent.active"
          )

  .list.card
    .item(style="text-align: center")
      h1 Level 2

    .item.item-body
      .row
        .col(ng-repeat='talent in vm.talents | filter: { level: 2 }')
          pif-talent(
          talent="talent"
          is-active="talent.active"
          )

