div(map-lazy-load='https://maps.google.com/maps/api/js')
  map(center='current-location', zoom='3' disable-default-u-i='true')
    marker(position='current-location', animation='DROP')

ion-footer-bar.bar-stable.expanded
  h2.title 
    span {{ currentCharity.name }} 
    span (
    i.icon.ion-ios-pulse-strong
    span &nbsp; {{ currentCharity.points | number }}
    span &nbsp;
    i.icon.ion-arrow-graph-up-right
    span &nbsp; {{ currentCharity.funds | currency }}
    span )

button.button.button-fab.button-fab-bottom-right.button-assertive.ion.ion-heart(
    ui-sref="tab.charity.donate({id: currentCharity._id })"
  )

