doctype html
html
    head
        link(rel='stylesheet', href='css/styles.css')
        link(href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic', rel='stylesheet', type='text/css')
    body

        ion-nav-view

        script(src='jspm_packages/system.js')
        script(src='config.js')
        script.
            System.import('js/main');
